<html>
    <head>
        <title>Created new Contact!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>You've successfully created a new contact: </h1>
            <ul>
                <h3>{{ newcontact.getName }}</h3>
                <li>{{ newcontact.getPhone }}</li>
                <li>{{ newcontact.getEmail }}</li>
                <li>{{ newcontact.getAddress }}</li>
            </ul>
            <form action="/">
                <button type='submit' class='btn-success'>Home</button>
            </form>
        </div>
    </body>
</html>
