<!DOCTYPE html>
<html>
    <head>
        <title>Contacts Cleared!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    </head>
    <body>
        <div class="container">
            <h1>You've successfully cleared your contacts</h1>
            <form action="/">
                <button type='submit' class='btn-success'>Home</button>
            </form>
        </div>
    </body>
</html>
